pkgbase = beatmapexporter-bin
	pkgdesc = osu!lazer Beatmap Exporter utility
	pkgver = 2.2.4
	pkgrel = 1
	url = https://github.com/kabiiQ/BeatmapExporter
	arch = x86_64
	license = MIT
	makedepends = curl
	provides = beatmapexporter
	conflicts = beatmapexporter
	options = !strip
	source = https://github.com/kabiiQ/BeatmapExporter/releases/download/v2.2.4/linux-BeatmapExporter
	source = https://github.com/kabiiQ/BeatmapExporter/releases/download/v2.2.4/linux-BeatmapExporterCLI
	sha256sums = 221a00929f3e573c42083c26e341147e3590f49c531ad5e507a5f5999c43ae15
	sha256sums = 075b23070182a09ff6f8465c2c8e3450998d394ab4e3d17b66f181ed04c4d6d6

pkgname = beatmapexporter-bin
