pkgbase = beatmapexporter-bin
	pkgdesc = osu!lazer Beatmap Exporter utility
	pkgver = 2.2.5
	pkgrel = 2
	url = https://github.com/kabiiQ/BeatmapExporter
	arch = x86_64
	license = MIT
	makedepends = curl
	provides = beatmapexporter
	conflicts = beatmapexporter
	options = !strip
	source = BeatmapExporter::https://github.com/kabiiQ/BeatmapExporter/releases/download/v2.2.5/linux-BeatmapExporter
	source = BeatmapExporterCLI::https://github.com/kabiiQ/BeatmapExporter/releases/download/v2.2.5/linux-BeatmapExporterCLI
	source = beatmapexporter.desktop
	source = beatmapexporter
	source = beatmapexporter-cli
	sha256sums = 37d5d255d92b2639075678bc70d03428adef31ccff1afa093296475cc0937fd6
	sha256sums = f5bb8bca63043b19e887dff8b2568b2ff4f9ab77e1223cff80aad121d1ec6662
	sha256sums = 2056cd543779db79f0326d0772f7992d22e4bde560d57a336bd81bbc80bcff27
	sha256sums = 35bc629599cb506ea1388048e9647a4739f05d3188814a88d645973e4f328d04
	sha256sums = 4e2b5532affb0902bdd42306e0ef43bf31c31bd1b2566c22741bcf0551118d62

pkgname = beatmapexporter-bin
